body{
  text-align: center;
  background-color: gold;
}
#title-box{
  position: absolute;
  top: 0%;
  left: 40%;
  background-color: yellow;
  font-size: 15px;
  border: 1;
} 
#back{
  box-sizing: border-box;
}

